<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.priska.infrastructure.persistent.dao.IRuleTreeNodeDao">
    <resultMap id="dataMap" type="com.priska.infrastructure.persistent.po.RuleTreeNode">
        <id property="id" column="id"/>
        <result property="treeId" column="tree_id"/>
        <result property="ruleKey" column="rule_key"/>
        <result property="ruleDesc" column="rule_desc"/>
        <result property="ruleValue" column="rule_value"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="queryRuleTreeNodeListByTreeId" parameterType="java.lang.String" resultMap="dataMap">
        select tree_id, rule_key, rule_desc, rule_value
        from rule_tree_node
        where tree_id = #{treeId}
    </select>
</mapper>